@import url("reset.css");

@import url("common.css");

@import url("header.css");

@import url("footer.css");

body {
    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #222831;
    color: rgba(238, 238, 238, 0.75);
    font-size: 18px;
}

.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;  
    padding-top: 85px; 
}

[class*="__container"]{
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main {
    padding-top: 93px;
    padding-bottom: 98px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.main__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main__content {
    flex: 1 1 auto;
    padding-right: 20px;
}
.main__title {
    font-weight: 600;
    font-size: 86px;
    /*text-transform: uppercase;*/  
    color: #eeeeee;
}
.main__title span {
    color: #00adb5;
}
.main__title:not(:last-child) {
    margin-bottom: 48px;
}
.main__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main__image {
    flex: 0 0 42.8%;
    text-align: center;
}
.main__image img{
    max-width: 100%;
}

.about {
    padding-top: 116px;
    padding-bottom: 116px;
}
.about__container {
    display: flex;
}
.about__content {
    flex: 1 1 auto;
    padding-right: 20px;
}
.about__title:not(:last-child) {
    margin-bottom: 20px;
}
.about__text {
    max-width: 390px;
    line-height: 1.5;
}
.about__image {
    text-align: center;
    flex: 0 0 53.2%;
}
.about__image img {
    max-width: 100%;
}

.works {
    padding-top: 145px;
    padding-bottom: 145px;
    background: url("img/bg.svg") 0 0 repeat;
}
.works__title:not(:last-child) {
    margin-bottom: 20px;
}
.items-works__navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 48px;
}
.items-works__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 45px;
}
.items-works__item {
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 45px;
}
.items-works__image {
    position: relative;
    padding-bottom: 59.622642%;
}
.items-works__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contacts {
    padding-top: 155px;
    padding-bottom: 155px;
}
.contacts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    align-items: start;
}
.contacts__image {
    text-align: center;
}
.contacts__image img {
    max-width: 100%;
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.form__item:nth-child(3),
.form__item:nth-child(4) {
    grid-column: span 2;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
.form__input {
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    width: 100%;
    padding: 0 24px;
    color: #fff;
    height: 59px;
}
.form__input::placeholder {
    color: rgba(238, 238, 238, 0.5);
    transition: opacity 0.3s ease 0s;
}
.form__input:focus::placeholder {
    opacity: 0;
}
.form__button span{
    display: inline-block;
    padding-right: 34px;
    background: url('img/send.svg') right no-repeat;
}